extends layout

block content
  #background(style={'background-image': 'url(https://image.tmdb.org/t/p/original/' + popularMovies[0].backdrop_path + ')'})
    #foreground
      h2#what_to_watch Popular movies this week:
      #popularMovies
        each result in popularMovies
          #home_movie_holder
            a(href="/movie/" + result.id)
              #home_movie_card
                img#home_movie_poster(src='https://image.tmdb.org/t/p/original/' + result.poster_path + '' alt='Movie Poster')
              #home_movie_text
                p#movie_title= result.title
      h2#what_to_watch Popular People this week:
      #popularMovies
          each result in popularPeople
            #home_movie_holder
              a(href="/search/actors_movies/" + result.id + "/" + result.name)
                #home_movie_card
                  img#home_movie_poster(src='https://image.tmdb.org/t/p/original/' + result.profile_path + '' alt='Movie Poster')
                  #home_movie_text
                    p#movie_title= result.name
