fieldset.rate(name="starRating")
  input#rating10(type='radio' name='rating' value='10')
  label(for='rating10' title='5 stars')
  input#rating9(type='radio' name='rating' value='9')
  label.half(for='rating9' title='4 1/2 stars')
  input#rating8(type='radio' name='rating' value='8')
  label(for='rating8' title='4 stars')
  input#rating7(type='radio' name='rating' value='7')
  label.half(for='rating7' title='3 1/2 stars')
  input#rating6(type='radio' name='rating' value='6')
  label(for='rating6' title='3 stars')
  input#rating5(type='radio' name='rating' value='5')
  label.half(for='rating5' title='2 1/2 stars')
  input#rating4(type='radio' name='rating' value='4')
  label(for='rating4' title='2 stars')
  input#rating3(type='radio' name='rating' value='3')
  label.half(for='rating3' title='1 1/2 stars')
  input#rating2(type='radio' name='rating' value='2')
  label(for='rating2' title='1 star')
  input#rating1(type='radio' name='rating' value='1')
  label.half(for='rating1' title='1/2 star')
  input#rating0(type='radio' name='rating' value='0')
  label(for='rating0' title='No star')
